<% @articles.each do |article| %>
<h1><%= link_to article.title, article_path(article) %></h1>
<p><%= article.content %></p>
<%= link_to 'Delete the article', article_path(article), method: :delete, data: { confirm: 'Do you want to delete?' }  %>
<% end %>
